<div class="container py-5">
  <h3> <%= @list.name %></h3>

<%= link_to "Back to list", root_path %>

<div class="movies-container my-4 row">
  <% if @list.movies.any? %>
    <%= render 'shared/moviecard' %>
  <% else %>
    <div class="message p-3 rounded">
      <h3>You don't have any movies in this list yet.</h3>
      <p>What about you add some?</p>
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "button button-main" %>
    </div>
  <% end %>

<%= link_to "Add a new bookmark", new_list_bookmark_path(@list.id) %>

  </div>
